@import "compass";

@mixin co-modals(
    $body-background:   white,
    $body-color:        black,

    $title-background:  #292d33,
    $title-color:       white,

    $actions-background:#292d33,
    $actions-color:     white,

    $mobile-breakpoint: 768px,
    $mobile-width:      300px,
    $desktop-width:     500px,

    $border-radius:     4px,
    $animation-speed:   0.4s,

    $z-index: 1000
) {

    div#modals > modal {

        // The animations
        // The background always fades in - the user defines other animations
        display: none;
        background-color: transparent;
        transition: background-color $animation-speed;
        -webkit-transition: background-color $animation-speed;

        // Initial content styles
        &> div > div {
            display: none;
        }
        
        // Start of the animation
        &.coModal-add {
            display: table;
        }

        // The final style
        &.coModal {
            display: table;
            background-color: rgba(0, 0, 0, 0.4);
        }

        // Prepare for remove
        &.coModal-remove {
            display: table;

            &> div > div {
                display: block;
            }
        }

        // Hide animations
        &.coModal-remove-active {
            background-color: transparent;
        }


        // Isolate the animation on the box
        &.bounceInRight {
            &.coModal > div > div {
                display: block;

                -webkit-animation-name: bounceInRight;
                animation-name: bounceInRight;

                -webkit-animation-duration: $animation-speed;
                animation-duration: $animation-speed;

                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }

            &.coModal-remove > div > div {
                -webkit-animation-name: bounceOutRight;
                animation-name: bounceOutRight;

                -webkit-animation-duration: $animation-speed;
                animation-duration: $animation-speed;

                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }

        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: $z-index;

        padding: 0px;
        margin: 0px;
        border: 0px;

        // Center the content on the page
        &> div {
            display: table-cell;
            vertical-align: middle;
            
            // For firefox if we want to specify % widths and heights for content
            width: 100%;
            height: 100%;

            &> div {
                margin: 0 auto;
            }
        }
    }

        
    @media only screen and (max-width: $mobile-breakpoint) {
        modal > div > div {
            width: $mobile-width !important;
        }
    }

    modal > div > div {
        position: relative;
        
        background-color: $body-background;
        padding-bottom: 20px;
        width: $desktop-width;
        border-radius: $border-radius;

        color: $body-color;

        h1 {
            background-color: $title-background;
            color: $title-color;

            line-height: 20px;
            font-weight: normal;
            text-align: left;
            font-size: 16px;

            padding: 10px 20px;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            margin-bottom: 30px;
        }

        p {
            padding: 0px 20px;

            text-align: left;
            font-size: 14px;
            line-height: 18px;

            margin-bottom: 30px;
        }

        menu {
            padding: 0px 20px;

            a, button {
                &.cancel {
                    float: left;
                }

                &.ok {
                    float: right;
                }
            }
        }
    }

}
